

body {
  background-color: azure;
}

.movieImg {
  max-width: 100%;
}

.hidden {
  display: none;
}

.movieCard {
  height: 600px;
  overflow: scroll;
  margin: 10px;
  padding: 5px;
}

.active-star {
  color: goldenrod;
}

.hover-star {
  color: goldenrod;
}

.active-button {
  background-color: #eeeeee;
}

i {
  cursor: pointer;
}

.black-star {
  color: black;
}
