body {
  background-color: azure;
}

.movieImg {
  max-width: 100%;
}

.hidden {
  display: none;
}

.movieCard {
  height: 800px;
  overflow: scroll;
  margin: 10px;
  padding: 5px;
}

.rtomatoRating {
  height: 30px;
  width: 30px;
}

.content {
  margin-bottom: 20px;
}

// .showSaved {
//   background-color: #2EC37F;
// }

// .showDeleted {
//   background-color: #E84369;
// }