

body {
  background-color: azure;
}

.movieImg {
  max-width: 100%;
}

.hidden {
  display: none;
}

.movieCard {
  height: 700px;
  overflow: scroll;
  margin: 10px;
  padding: 5px;
}

.userRating:hover {
  // #if
  // @include userRating(.1);
}
