
<div class="row">
  <div class="col s4 offset-s2">
    <div class="input-field">
       <label for="title">Search by Title</label>
        <input type="text" name="title" id="title">
    </div>
  </div>
</div>
<div class="row content">
{{#if Error}}
    <h3 class="center-align"> {{Error}} Please try another title! </h3>
{{/if}}
</div>
{{#if Title}}
{{> searchResults}}
{{/if}}

