<div class="row">
  <div class="offset-s3 col s6 register">
    <h4 class="center-align"> Sign up or Sign In Here</h4>
    <div class="input-field">
      <input id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input id="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
    <div class="offset-s4 col s6">
      <button class="signupBtn"> Sign Up </button>
      <button class="loginBtn"> Login </button>
    </div>
  </div>
</div>
<div class="row oauthLogin">
  <div class="offset-s4 col s6">
    <button class="loginGoogle"> Login with <img src="../../icons/googleIcon.png" alt="Google Icon" class="loginIcons"></button>
    <button class="loginFacebook"> Login with <img src="../../icons/facebookIcon.png" alt="Facebook Icon" class="loginIcons"></button>
  </div>
</div>